<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css -->
    <link rel="stylesheet" href="../../asset/css/style.css" />
  </head>
  <body class="whole-user">
    <header id="header">
      <div class="container">
        <div class="left-header">
          <div class="logo"><i class="fa fa-robot"></i>Cyber Phone</div>
          <div class="home"><i class="fa fa-house-damage"></i>Home</div>
          <div class="portal-admin">
            <i class="fa fa-user-cog"></i>Admin portal
          </div>
        </div>
        <div class="right-header">
          <div class="cart"><i class="fa fa-shopping-cart"></i>Cart</div>
        </div>
      </div>
    </header>
    <section class="banner">
      <div class="container">
        <div class="banner-left">
          <img src="../../asset/img/imgUser/iphoneX-banner.png" alt="" />
        </div>
        <div class="banner-right">
          <h1>Điện thoại Iphone X</h1>
          <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star toggle-color"></i>
            <i class="fa fa-star toggle-color"></i>
          </div>
          <p>Thiết kế mang tính đột phá</p>
          <p>1325$</p>
          <button>Find out more!</button>
        </div>
      </div>
    </section>
    <script src="../../index.js"></script>
  </body>
</html>
